@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #373737;
    font-family: 'Inter', sans-serif;
    color: #BADB73;
}

.central{
    margin-top: 50px;
}

.titulo h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 35px;
}

.image{
    display: flex;
    justify-content: center;
}
.image img{
    margin-top: 100px;
}

.btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn button{
    border: solid 2px #BADB73;
    background-color: transparent;
    height: 45px;
    width: 488px;
    border-radius: 15px;
    color: #BADB73;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.btn button:hover{
    background-color: #BADB73;
    color: #373737;
    transition: 0.5s;
}