@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #BADB73;
    height: 100%;
    overflow-x: hidden;
}

main{
height: 92vh;
}
a{
    color: #BADB73;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
   transform: scale(1.1);
}

.lista-menu li a:hover{
    border-bottom: solid 2px #BADB73;
    padding-bottom: 3px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #BADB73;
    background: #373737;
    height: 8vh;
    width: 100vw;
    font-weight: bold;
    z-index: 20;
}


.lista-menu{
    list-style: none;
    display: flex;
}

.lista-menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.banner{
    width: 100vw;
    padding-top: 70px;
    flex-direction: column;
    height: 490px;
 }


.slider{
    display: block;
    height: 400px;
    width: 1100px;
    margin: auto;
    padding-top: 80px;
    position: relative;
}

.slider li{
    list-style: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.slider img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input{
    display: none;
}

.slider label{
    border: 2px solid #fff;
    padding: 7px;
    border-radius: 10px;
    bottom: -10px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 10;
    transition: 0.5s;
}

.slider label:hover{
    background-color: #fff;
}
.slider li:nth-child(1) label{
    left: 550px;
}

.slider li:nth-child(2) label{
    left: 585px;
}

.slider li:nth-child(3) label{
    left: 620px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.ebooks{
    background-color: #373737;
    width: 100vw;
    height: 1000px;
}

.ebooks h1{
    color: #BADB73;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

.ebooks p{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
}

.cards1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding: 40px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.cards2{
    clear: both;
    padding-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-left: 35px;
}



.cards img{
    border-radius: 5px;
    padding-top: 10px;

}

section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #BADB73;
    border-radius: 15px;
    width: 180px;
    height: 325px;
    padding: 1rem 1.5rem;
    max-height: 325px;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

section.card:first-child{
    margin-left: 0;
}

.card span{
    padding-top: 15px;
}

.card button{
    margin-top: 20px;
    background-color: transparent;
    border: solid 2px #373737;
    width: 180px;
    height: 40px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.card button:hover{
    background-color: #373737;
    color: #BADB73;
    transition: 0.5s;
}

